
<p id="notice"><%= notice %></p>

<%= form_tag(cycles_path, :method => "get") do %>
<%= text_field_tag :search, nil, :placeholder => "Search Bikes by lastname" %>
<%= submit_tag "Search" %>
<% end %>


<h1>Bikes</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Age</th>
      <th>Your total cost would be</th>
      <th>Details</th>
      <th>Destination</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @cycles.each do |cycle| %>
      <tr>
        <td><%= cycle.firstname %></td>
        <td><%= cycle.lastname %></td>
        <td><%= cycle.manufacturer %></td>
        <td><%= cycle.cost %></td>
        <td><%= cycle.description %></td>
        <td><%= cycle.color %></td>
        <td><%= link_to 'Show', cycle %></td>
        <td><%= link_to 'Edit', edit_cycle_path(cycle) %></td>
        <td><%= link_to 'Destroy', cycle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%=image_tag("Background.jpg")%>
  </tbody>
</table>

<br>

<%= link_to 'New Bike', new_cycle_path %>

